@font-face {
    font-family: 'San Francisco Display';
    src: url('SanFranciscoDisplay-Black.woff2') format('woff2'),
        url('SanFranciscoDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Display';
    src: url('SanFranciscoDisplay-Bold.woff2') format('woff2'),
        url('SanFranciscoDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Display';
    src: url('SanFranciscoDisplay-Heavy.woff2') format('woff2'),
        url('SanFranciscoDisplay-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Display';
    src: url('SanFranciscoDisplay-Light.woff2') format('woff2'),
        url('SanFranciscoDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Display';
    src: url('SanFranciscoDisplay-Medium.woff2') format('woff2'),
        url('SanFranciscoDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Display';
    src: url('SanFranciscoDisplay-Regular.woff2') format('woff2'),
        url('SanFranciscoDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Display';
    src: url('SanFranciscoDisplay-Semibold.woff2') format('woff2'),
        url('SanFranciscoDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Display';
    src: url('SanFranciscoDisplay-Ultralight.woff2') format('woff2'),
        url('SanFranciscoDisplay-Ultralight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Display';
    src: url('SanFranciscoDisplay-Thin.woff2') format('woff2'),
        url('SanFranciscoDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-Bold.woff2') format('woff2'),
        url('SanFranciscoText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-BoldG1.woff2') format('woff2'),
        url('SanFranciscoText-BoldG1.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-BoldG2.woff2') format('woff2'),
        url('SanFranciscoText-BoldG2.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-BoldItalic.woff2') format('woff2'),
        url('SanFranciscoText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-BoldItalicG1.woff2') format('woff2'),
        url('SanFranciscoText-BoldItalicG1.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-BoldG3.woff2') format('woff2'),
        url('SanFranciscoText-BoldG3.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-BoldItalicG2.woff2') format('woff2'),
        url('SanFranciscoText-BoldItalicG2.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-BoldItalicG3.woff2') format('woff2'),
        url('SanFranciscoText-BoldItalicG3.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-Heavy.woff2') format('woff2'),
        url('SanFranciscoText-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-HeavyItalic.woff2') format('woff2'),
        url('SanFranciscoText-HeavyItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-Italic.woff2') format('woff2'),
        url('SanFranciscoText-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-ItalicG2.woff2') format('woff2'),
        url('SanFranciscoText-ItalicG2.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-ItalicG3.woff2') format('woff2'),
        url('SanFranciscoText-ItalicG3.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-ItalicG1.woff2') format('woff2'),
        url('SanFranciscoText-ItalicG1.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-LightItalic.woff2') format('woff2'),
        url('SanFranciscoText-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-Medium.woff2') format('woff2'),
        url('SanFranciscoText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-RegularG1.woff2') format('woff2'),
        url('SanFranciscoText-RegularG1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-Light.woff2') format('woff2'),
        url('SanFranciscoText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-Regular.woff2') format('woff2'),
        url('SanFranciscoText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-MediumItalic.woff2') format('woff2'),
        url('SanFranciscoText-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('SanFranciscoText-RegularG2.woff2') format('woff2'),
        url('SanFranciscoText-RegularG2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

